In [1]:
import yfinance as yf

In [2]:
STLD_df = yf.download("STLD" , start = "2010-09-03" , end = "2023-10-05")
STLD_df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-09-03,14.750000,14.910000,14.620000,14.770000,10.701502,2236400
2010-09-07,14.760000,14.950000,14.570000,14.640000,10.607312,3469200
2010-09-08,14.740000,14.940000,14.660000,14.690000,10.643539,2197500
2010-09-09,14.900000,14.950000,14.290000,14.470000,10.484138,3296200
2010-09-10,14.540000,14.580000,14.200000,14.270000,10.339230,2838600
...,...,...,...,...,...,...
2023-09-28,106.650002,107.209999,105.379997,105.949997,105.949997,1295800
2023-09-29,107.000000,107.669998,105.940002,107.220001,107.220001,1472800
2023-10-02,107.449997,107.959999,105.279999,106.309998,106.309998,1239800
2023-10-03,105.459999,106.860001,104.830002,106.209999,106.209999,1220600
2023-10-04,106.059998,108.099998,105.510002,106.559998,106.559998,1218500

In [3]:
pip install alpha_vantage

Requirement already satisfied: alpha_vantage in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (2.3.1)
Requirement already satisfied: aiohttp in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from alpha_vantage) (3.8.2)
Requirement already satisfied: requests in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from alpha_vantage) (2.31.0)
Requirement already satisfied: attrs>=17.3.0 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->alpha_vantage) (22.1.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->alpha_vantage) (2.0.4)
Requirement already satisfied: multidict<6.0,>=4.5 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->alpha_vantage) (5.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->alpha_vantage) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->alpha_vantage) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->alpha_vantage) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from aiohttp->alpha_vantage) (1.2.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->alpha_vantage) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->alpha_vantage) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jangutt/anaconda3/envs/dev/lib/python3.10/site-packages (from requests->alpha_vantage) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.